{% extends 'generic/object.html' %}
{% load helpers %}
{% load i18n %}

{% block content %}
<div class="row">
  <div class="col col-md-6">
    <div class="card">
      <h2 class="card-header">{% trans "Endpoint Group" %}</h2>
      <table class="table table-hover attr-table">
        <tr><th scope="row">{% trans "Name" %}</th><td>{{ object.name }}</td></tr>
        <tr><th scope="row">{% trans "Alias" %}</th><td>{{ object.name_alias|placeholder }}</td></tr>
        <tr><th scope="row">{% trans "Tenant" %}</th>
          <td><a href="{{ object.aci_tenant.get_absolute_url }}">{{ object.aci_tenant }}</a></td></tr>
        <tr><th scope="row">{% trans "App Profile" %}</th>
          <td><a href="{{ object.aci_app_profile.get_absolute_url }}">{{ object.aci_app_profile }}</a></td></tr>
        <tr><th scope="row">{% trans "Bridge Domain" %}</th>
          <td><a href="{{ object.aci_bridge_domain.get_absolute_url }}">{{ object.aci_bridge_domain }}</a></td></tr>
        <tr><th scope="row">{% trans "uSeg EPG" %}</th><td>{{ object.is_useg|yesno }}</td></tr>
        <tr><th scope="row">{% trans "Admin shutdown" %}</th><td>{{ object.admin_shutdown|yesno }}</td></tr>
        <tr><th scope="row">{% trans "Intra-EPG isolation" %}</th><td>{{ object.intra_epg_isolation|yesno }}</td></tr>
        <tr><th scope="row">{% trans "Preferred-group member" %}</th><td>{{ object.preferred_group_member|yesno }}</td></tr>
        <tr><th scope="row">{% trans "QoS class" %}</th><td>{{ object.get_qos_class_display }}</td></tr>
        <tr><th scope="row">{% trans "Description" %}</th><td>{{ object.description|placeholder }}</td></tr>
      </table>
    </div>
    {% include 'inc/panels/tags.html' %}
    {% include 'inc/panels/custom_fields.html' %}
  </div>
  <div class="col col-md-6">
    {% if object.is_useg %}
    <div class="card">
      <h2 class="card-header">{% trans "uSeg Attributes" %}</h2>
      <table class="table table-hover attr-table">
        {% for a in object.useg_attributes.all %}
          <tr>
            <td>{{ a.get_attribute_type_display }}</td>
            <td>{{ a.get_match_operator_display }}</td>
            <td>{{ a.match_value }}</td>
          </tr>
        {% empty %}
          <tr><td colspan="3" class="text-muted">{% trans "No attributes defined." %}</td></tr>
        {% endfor %}
      </table>
    </div>
    {% endif %}
    {% include 'inc/panels/comments.html' %}
  </div>
</div>
{% endblock %}
