{% extends 'generic/object.html' %}
{% load helpers %}
{% load i18n %}

{% block content %}
<div class="row">
  <div class="col col-md-6">
    <div class="card">
      <h2 class="card-header">{% trans "Logical Node" %}</h2>
      <table class="table table-hover attr-table">
        <tr><th scope="row">{% trans "Name" %}</th><td>{{ object.name }}</td></tr>
        <tr><th scope="row">{% trans "Alias" %}</th><td>{{ object.name_alias|placeholder }}</td></tr>
        <tr><th scope="row">{% trans "Logical Node Profile" %}</th>
          <td><a href="{{ object.aci_logical_node_profile.get_absolute_url }}">{{ object.aci_logical_node_profile }}</a></td></tr>
        <tr><th scope="row">{% trans "ACI Node" %}</th>
          <td><a href="{{ object.aci_node.get_absolute_url }}">{{ object.aci_node }}</a></td></tr>
        <tr><th scope="row">{% trans "Router ID" %}</th><td>{{ object.router_id|placeholder }}</td></tr>
        <tr><th scope="row">{% trans "Use router ID as loopback" %}</th><td>{{ object.use_router_id_as_loopback|yesno }}</td></tr>
        <tr><th scope="row">{% trans "Loopback address" %}</th><td>{{ object.loopback_address|placeholder }}</td></tr>
        <tr><th scope="row">{% trans "Description" %}</th><td>{{ object.description|placeholder }}</td></tr>
      </table>
    </div>
    {% include 'inc/panels/tags.html' %}
    {% include 'inc/panels/custom_fields.html' %}
  </div>
  <div class="col col-md-6">
    {% include 'inc/panels/comments.html' %}
  </div>
</div>
{% endblock %}
