{% extends 'generic/object.html' %}
{% load helpers %}
{% load i18n %}

{% block content %}
<div class="row">
  <div class="col col-md-6">
    <div class="card">
      <h2 class="card-header">{% trans "vPC Binding Pair" %}</h2>
      <table class="table table-hover attr-table">
        <tr><th scope="row">{% trans "Name" %}</th><td>{{ object.name|placeholder }}</td></tr>
        <tr><th scope="row">{% trans "Binding A" %}</th>
          <td><a href="{{ object.binding_a.get_absolute_url }}">{{ object.binding_a }}</a></td></tr>
        <tr><th scope="row">{% trans "Binding B" %}</th>
          <td><a href="{{ object.binding_b.get_absolute_url }}">{{ object.binding_b }}</a></td></tr>
        <tr><th scope="row">{% trans "Description" %}</th><td>{{ object.description|placeholder }}</td></tr>
      </table>
    </div>
    {% include 'inc/panels/tags.html' %}
    {% include 'inc/panels/custom_fields.html' %}
  </div>
  <div class="col col-md-6">
    {% include 'inc/panels/comments.html' %}
  </div>
</div>
{% endblock %}
