{% extends 'generic/object.html' %}
{% load helpers %}
{% load i18n %}

{% block content %}
<div class="row">
  <div class="col col-md-6">
    <div class="card">
      <h2 class="card-header">{% trans "VLAN Pool" %}</h2>
      <table class="table table-hover attr-table">
        <tr><th scope="row">{% trans "Name" %}</th><td>{{ object.name }}</td></tr>
        <tr><th scope="row">{% trans "Alias" %}</th><td>{{ object.name_alias|placeholder }}</td></tr>
        <tr><th scope="row">{% trans "Fabric" %}</th>
          <td><a href="{{ object.aci_fabric.get_absolute_url }}">{{ object.aci_fabric }}</a></td></tr>
        <tr><th scope="row">{% trans "Allocation mode" %}</th><td>{{ object.get_allocation_mode_display }}</td></tr>
        <tr><th scope="row">{% trans "Description" %}</th><td>{{ object.description|placeholder }}</td></tr>
      </table>
    </div>
    {% include 'inc/panels/tags.html' %}
    {% include 'inc/panels/custom_fields.html' %}
  </div>
  <div class="col col-md-6">
    <div class="card">
      <h2 class="card-header">{% trans "VLAN Blocks" %}</h2>
      <table class="table table-hover attr-table">
        {% for b in object.blocks.all %}
          <tr>
            <td><a href="{{ b.get_absolute_url }}">
              {% if b.from_vlan == b.to_vlan %}VLAN {{ b.from_vlan }}{% else %}VLAN {{ b.from_vlan }}-{{ b.to_vlan }}{% endif %}
            </a></td>
            <td>{{ b.allocation_mode_override|placeholder }}</td>
          </tr>
        {% empty %}
          <tr><td colspan="2" class="text-muted">{% trans "No blocks defined." %}</td></tr>
        {% endfor %}
      </table>
    </div>
    {% include 'inc/panels/comments.html' %}
  </div>
</div>
{% endblock %}
